@import '../../../assets/sass/colors.scss';

.Toolbar {
    text-transform: uppercase;
    background-color: $papayawhip;
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}